.mega-menu-company {
    display: none; /* Hide by default */
    position: absolute;
    top: 100%;
    margin-top: 20px;
    width: 800px;
    left: -350px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
    z-index: 1000;
    overflow: hidden;
  }

  .mega-menu-company.open {
    display: block;
}

.company-container {
    display: flex;
    z-index: 1000;
    /* max-width: 1000px; */
    margin: 0 auto;
    padding: 0;
    background-color: #8ac1ed34;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidebar {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.icon-container {
    font-size: 24px;
    margin-right: 10px;
    margin-top: 5%px;
    color: #ff6b6b;
}

.company-text h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: #101828;
}

.company-text p {
    margin: 5px 0 0;
    color: #475467;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.main-content {
    flex: 2;
    padding: 20px;
}

.main-content h3 {
    color: #0086C9;
    font-size: 14px;
    font-weight: 500;
}

.stories {
    display: flex;
    flex-direction: column;
}

.story {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.story img {
    width: 144px;
    height: 80px;
    margin-right: 20px;
    border-radius: 8px;
    object-fit: cover;
}

.story-heading{
    /* line-height: 10px; */
}

.story > div{
    display: flex;
     flex-direction: column;
      width: 300px;
}

.story > div > span{
    margin-bottom: 10px;
}

/* .story h4 {
    margin: 0;
    font-size: 16px;
}

.story p {
    margin: 5px 0 0;
    color: #6c757d;
} */

.all-stories {
    color: #007bff;
    font-size: 14px;
    color: #0086C9;
    font-weight: 500;
    text-decoration: none;
}

/* .all-stories:hover {
    text-decoration: underline;
} */
