@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.slider-container {
    display: flex;
    /* padding: 40px; */
    width: 1440px;
    margin: 50px auto;
    overflow: hidden;
    position: relative;
}

.slider-track {
    display: flex;
    transition: transform 0.5s ease;
}

.wrapper {
    padding: 10px;
    margin: 10px;
    height: 500px;
    width: 350px; 
    background-color: #FF4000;

    flex: 0 0 15%;
}

.wrapper-two {
    padding: 10px;
    margin: 10px;
    height: 500px;
    width: 350px;
    position: relative;
    background-color: #079455;
    flex: 0 0 15%;
}

.wrapper-three {
    padding: 10px;
    margin: 10px;
    height: 500px;
    width: 350px; 
    position: relative;
    background-color: #1570EF;
    flex: 0 0 15%;
}

.wrapper-four {
    padding: 10px;
    margin: 10px;
    height: 500px;
    width: 350px;
    position: relative;
    background-color: #444CE7;
    flex: 0 0 15%;
}

.wrapper-head {
    display: flex;
    gap: 10px;
    color: #e8e3e3;
    padding-bottom: 50px;
    align-items: center;
}

.wrapper-head h1 {
    font-size: 30px;
    font-weight: 600;
    opacity: 0.84;
}

.wrapper-content {
    background-color: rgba(255, 255, 255, 0.30);
    color: #fff;
    padding: 20px;
    margin: 30% 10px;
    display: flex;
    flex-direction: column;
    border: 0.5px solid #ffffff3f;
    gap: 1em;
}

.wrapper-content h1 {
    font-size: 30px;
font-weight: 500;
line-height: 38px;
font-family: "Inter", sans-serif;
}

.wrapper-content p {
    font-size: 18px;
font-size: 18px;
font-weight: 400;
line-height: 28px;
}

.wrapper-btn {
    align-items: center;
    display: inline-flex;
    gap: 10px;
    margin-bottom: 10px;
}

.wrapper-btn a {
    text-decoration: none;
    color: #fff;
    font-family: "Inter", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
}

.pagination-btn {
    padding: 40px;
    margin: 20px;
    display: flex;
    gap: 10px;
    justify-content: start;
}

.span-btn {
    border: 1px solid rgba(128, 128, 128, 0.226);
    padding: 14px 24px;
    border-radius: 50%;
    cursor: pointer;
}

@media (min-width: 900px) {
    .slider-track {
        flex-wrap: nowrap;
    }
}

@media (max-width: 899px) {
    .wrapper {
        flex: 0 0 calc(100% / 2 - 20px); /* Two cards visible */
    }
}

@media (max-width: 600px) {
    .wrapper {
        flex: 0 0 100%; /* One card visible */
    }
}
